.video-list {
    width: 100%;

    .detail {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }

    .video-top,
    .video-bottom {
        padding: 0 30px;
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
