.video-list {
    margin-top: 30px;
    width: 100%;

    .active {
        font-weight: 500;
        text-decoration: underline !important;
    }
    .video-top,
    .video-bottom {
        padding: 0 30px;
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
    }
}
