.wrapper {
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;
    display: inline-flex;

    + .wrapper {
        margin-left: 30px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.2;
    }
}

.primary {
    width: 200px;
    height: 80px;
    padding: 20px 40px;
    background-color: var(--primary-color);
    color: var(--white-color);
}
