.video-tutorial {
    display: flex;
    align-items: center;
    .background {
        width: 160px;
        height: 90px;

        & img {
            width: 100%;
            object-fit: cover;
            background-size: cover;
        }
    }
}
