.video-tutorial {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 90px;

    .background {
        width: 160px;
        height: 90px;

        & img {
            width: 100%;
            object-fit: cover;
            background-size: cover;
        }
    }

    .detail {
        display: inline-flex;
        justify-content: space-between;
        flex-direction: column;

        .video-interact {
            display: flex;
            align-items: center;
            gap: 10px;

            .like,
            .view {
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
    }
}
