.wrapper {
    width: 100vw;
    height: 60px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.inner {
    display: flex;
    align-items: center;

    & .logo {
        margin-right: 40px;
    }
}

.search {
    width: 600px;

    & input {
        width: 100%;
        padding: 11px 26px;
        color: var(--white-color);
        background-color: inherit;
        border: none;
        border-bottom: 1px solid var(--white-color);
    }

    & input::placeholder {
        color: var(--white-color);
    }
}
