.header {
    height: 60px;
    position: fixed;
}

.wrapper {
    padding: 0 30px;
    height: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner {
    display: flex;
    align-items: center;

    & .logo {
        margin-right: 40px;
    }
}

.search {
    width: 600px;

    & input {
        width: 100%;
        padding: 11px 26px;
        color: var(--white-color);
        background-color: inherit;
        border: none;
        border-bottom: 1px solid var(--white-color);
    }

    & input::placeholder {
        color: var(--white-color);
        font-size: 1.4rem;
        font-weight: normal;
    }
}

.action {
    display: flex;
    align-items: center;
    gap: 30px;

    & img {
        margin-right: 20px;
        cursor: pointer;
    }
}
