.header {
    padding: 40px;
}

.header-left {
    display: flex;
    align-items: center;
}

.avatar {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 32px;

    & img {
        object-fit: cover;
        background-size: cover;
        width: 100%;
    }
}

.info {
    .title {
        line-height: 1;
    }

    .desc {
        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .button {
        margin-top: 10px;
        display: flex;
        align-items: center;

        .btn-left {
            margin-left: 600px;
        }
    }
}

@media (max-width: 1750px) {
    .header-left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .info {
        display: inline-flex;
        flex-direction: column;
        align-items: center;

        .button {
            .btn-left {
                margin-left: 4px;
            }
        }
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .info {
        .button {
            display: flex;

            flex-direction: column;
            align-items: center;

            & :nth-child(1),
            :nth-child(2),
            :nth-child(3),
            :nth-child(4) {
                margin-left: 0;
            }
        }
    }
}
